@model IEnumerable<Lab02_web.Models.Course>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <ul>
        @foreach(var course in Model)
        {
            <li style=" position: relative; margin-bottom: 30px;">
                <div class="date" style="text-align: center;background-color: aquamarine; color: black; width: 60px; border-radius: 8px">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details" style=" position: absolute; top: 0; left: 70px;">
                    <span class="lecturer">
                        @course.Lecturer.Name
                    </span>
                    <span class="category">
                        @course.Category.Name
                    </span>
                </div>
                @*@course.DateTime-@course.Lecturer.Name*@

            </li>
        }
    </ul>
</div>